.idea/
/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/public/documents/*
!/public/documents/.gitkeep
/public/estate_images/*
!/public/estate_images/.gitkeep
/public/member_images/*
!/public/member_images/.gitkeep
/public/profile_images/*
!/public/profile_images/.gitkeep
/public/dependent_images/guardian/*
!/public/dependent_images/guardian/.gitkeep
/public/dependent_images/medical/*
!/public/dependent_images/medical/.gitkeep
/public/dependent_images/profile/*
!/public/dependent_images/profile/.gitkeep
/public/dependent_images/school/*
!/public/dependent_images/school/.gitkeep
/public/message_images/*
!/public/message_images/.gitkeep
/public/message_attachments/*
!/public/message_attachments/.gitkeep
/public/pet_images/*
!/public/pet_images/.gitkeep
/public/site_images/*
!/public/site_images/.gitkeep
